@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
}

<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    @RenderSection("Redirect", false)
    
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div id="header-container">
        <header>
            <h1 id="title" class="pushright">@Umbraco.Field("siteName", recursive: true)</h1>
        </header>
    </div>
    
    <div id="page-container">
        @RenderBody()
    </div>
    
    <div id="footer-container">
        <section class="section--centered-vert fullwidth">
            <footer id="page-footer">
                <span class="footer-text">@Umbraco.Field("content", recursive: true)</span>
                <span class="footer-text">@Umbraco.Field("author", recursive: true)</span>
            </footer>
        </section>
    </div>
</body>